.project {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;

  .flexRow {
    display: flex;
    align-items: center;

    .name, .count {
      flex: 1;
    }

    .count {
      text-align: right;
      align-self: flex-end;
    }

    .details {
      font-size: 90%;
    }
  }
}
