.event, .eventDetail {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;

  .flexRow {
    display: flex;
    align-items: center;
  }

  .title, .midCol, .inProgress, .postForm {
    flex: 2;
  }

  .duration {
    flex: 1;
  }

  .title, .midCol, .duration, .inProgress, .postForm {
    .header {
      font-weight: bold;
    }
  }

  .inProgress {
    padding-top: 20px;
  }

  .duration {
    text-align: right;
  }

  .notesForm {
    cursor: pointer;
  }
}

#in-progress {
  border: 2px solid rgb(17, 204, 119);
}

.event {
  cursor: pointer;
}
