.event, .eventDetail {
  margin: 10px 0px;
  padding: 15px;
  border: 1px solid black;

  .flexRow {
    display: flex;
    align-items: center;
  }

  .notes {
  }

  .title {
    flex: 3;
  }

  .midCol, .inProgress, .postForm {
    flex: 2;
  }

  .duration {
    flex: 1;
  }

  .title, .midCol, .duration, .inProgress, .postForm {
    .header {
      font-weight: bold;
    }
  }

  .inProgress {
    padding-top: 20px;
  }

  .duration {
    text-align: right;
  }

  .notesRow {
    .notesToggle {
      font-size: 90%;
      cursor: pointer;
    }

    .notesForm {
      margin-top: 5px;
    }
  }
}

#in-progress {
  border: 2px solid rgb(17, 204, 119);
}

.event {
  cursor: pointer;
}
