#home {

  .logo {
    width: 300px;
    margin: 0 auto;
  }

  .form {
    margin: 10px 0px;
  }

  .button {
    margin-left: 10px;
  }

  .content {
    display: flex;
    margin-top: 10px;

    .left {
      flex: 1;
      margin-right: 15px;
    }

    .right {
      flex: 3;
    }
  }
}
